.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-1);

    // flexbox in the header
    display: flex;
    // align elements along main axis
    // space-between divides elements equally, creates equal amount of space between elements
    justify-content: space-between;

    // will nicely align the elements in the center of the header VERTICALLY ALIGNED CENTER
    align-items: center;
}

.content {
    // flexbox container
    // this allows the navigation side bar and hotel view content be side by side
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // flexbox width
    // grow, shrink, basis
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;

    // this will push the legal text all the way to the bottom of the column
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    // test
    background-color: orangered;
    height: 80rem;

    // set element grow as much as it can with all of the available space
    // up above sidebar is 18% so then here it goes to 82%
    flex: 1;
}